venv/
annotation-tool-venv/
node_modules/

Environment/.env
Environment/shared.env
AnnotationTool/.annotation_tool_env
AnnotationTool/.pipeline_env

__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
wandb/
*.pt

Data/*
JunctionDetection/Data/*

*.png
!AnnotationTool/frontend/public/favicon.png

*.csv
!persistencetest.csv